@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;


}
* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}
/* BANNER */
.banner{
  background-color: #efeff0;

}
.banner div{
  display: flex;
  justify-content: space-between;
  margin: 0 6%;
  line-height: 2em;
}
.banner a{
  color: grey;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

/* HEADER */
.header{

  position: relative;
  max-width: 1380px;
  padding:20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons{
  display: inline-flex;

}
.buttons li{

}
.buttons a{
  color:black;
  background-color:#fff;

  font-size: 16px;
  line-height: 24px;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0;
  margin:100px 3px;
  padding:10px 10px;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  text-transform:none;
  text-decoration:none solid rgb(255, 255, 255);
  text-align:left;
  text-indent:0;
}
.buttons .button-1{
  background-color: black;
  color: white;
  font-weight: bold;
}
.buttons .button-2{
  background-color: white;
  color: black;
  font-weight: bold;
}
.buttons .button-3{
  background-color: white;
  color: black;
  font-weight: bold;
}
.buttons a:hover{
  background: #a0a0a0;
}
.header img{
  height: auto;
  width: 170px;
  margin-top: -15px;
}
/*
.header .logo .logo1{
  height: 70%;
}
.header .logo .logo2{
  height: 30%;
} */
.icons{
  display: inline-flex;

}
.icons li a{

  color: #1A1A1A;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 15px 9px 15px;

}
.icons li a:hover{
  border: 5px solid;
  border-bottom-color: blue;

}
.fa-user{
  z-index: 1001;
}

.icons li:hover .drop-menu-1,
.icons li:hover .drop-menu-2
{
  opacity: 1;
  visibility: visible;
}

.drop-menu-1{
  z-index: 1000;
  background: #fff;
  width: 300px;
  top: 42px;


  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 66.2%;
  border: 3px solid;
}
.drop-menu-1 a{
  line-height: 4em;

}

.drop-menu-1 .login-button{
  background-color: black;
  color: #fff;
  width: 300px;
}

.drop-menu-2{
  z-index: 1000;
  border: 3px solid;
  background: #fff;
  width: 300px;
  top: 42px;
  line-height: 45px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 73.6%;
}




/* MEGA MENU */
nav {

  width: 100%;
  z-index: 998;
  border-bottom: 1px solid;
  border-color: #ef0ff0;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5441526952577906) 22%, rgba(255,255,255,1) 100%);

}
nav .wrapper{
  position: relative;
  max-width: 100%;
  padding: 0 70px;
  margin: 0 auto 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.wrapper .nav-links{
  display: inline-flex;
  margin: 0 0 0 0;


}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  padding: 0 9px;
  margin: auto 10px;;
  line-height: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  text-decoration: none;
}


.nav-links li:hover .mega-box{
  top: 30px;

  opacity: 1;
  visibility: visible;
  border-bottom: 3px solid black;
  transition: all 0.3s ease;
}

/* MEGA BOX */

.mega-box{
  position: absolute;
  top: 30px;
  padding-top: 10px;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;

}
.mega-box .content{
  background: white;
  padding: 30px 100px 30px;;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content .row-a{
  width: calc(25%);
  line-height: 45px;
}
.content .row-a img{
  width: 100%;
  height: 100%
  object-fit: cover;
}
.content .row-a header{
  color: grey;
  font-size: 16px;
  font-weight: 400;
}


.mega-links{
  padding: 0;
}
.mega-links span:hover{

  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}
.mega-links li a{
  padding: 0;
  line-height: 2;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: block;

}
.mega-links i{
padding-right: 10px;
}

/* Search Bar */
.form-control{
  width: 300px;
  left: 0;
  background-color: whitesmoke;
}

.form-control:focus{
  width: 300px;

  position: relative;
  left: -500px;

  transition-property: opacity, left, top, height;
  transition-duration: 3s, 1s, 3s, 5s;

  padding: auto 30px;

}



.hero{
  height: auto;
  width: 100%;
  display: flex;
  background-color: #202020;
  color: white;
  padding: 4% 8% 0 6%;
}

.hero h2{
  font-weight: 600;
  line-height: 1.1;
}
.row-1{
  width: 45%;
  padding-right: 7%;

}
.row-2{
  width: 55%;

}
.row-2 img{
  width: auto;
  height: 350px;
}



.dummy{
  height: 600px;
  width: 100%;
  background-color: orange;
}
